<html>
<head>
	<meta charset="utf-8">
	<title>다이얼로그</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
	<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
</head>
<body>

<div data-role="dialog" data-close-btn-text="닫기버튼입니다." >

	<div data-role="header" data-theme="a">
		<h1>Sign-in</h1>
	</div>

	<div data-role="content" data-theme="c">
		<h1>Join membership</h1>
        <p>Fill all of this forms</p>

        <form action="{%  url 'angus:sign_in' %}" method="post">
        {% csrf_token %}
        <p>ID<input type="text" name="username"  maxlength=12/></p>
        <p>password<input type="password" name="password" maxlength=8></p>
        <p>E-mail<input type="email" name="e-mail" maxlength=128></p>
        <input type="submit" value="Register"/>
            <!--
                <span data-role="button" data-theme="d" onclick="$('.ui-dialog').dialog('close');">JS Close Button</span>
            -->
        </form>
	</div>

</div>


</body>
</html>